@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Righteous&display=swap");

:root {
    --spectralon: #fff;
    --vantablack: #000;
    --royalBlue: #3d58e1;
    --lavender: #ba80da;
    --scarlet: #ed2c46;
    --cerulean: #3d8ce0;
    --sapphire: #3621d4;
    --sectionBordRad: 47px;
    --shadow: #0005;
}

* {
    font-family: Cabin;
    font-size:20px;
}

a {
    text-decoration: none;
    color: var(--spectralon);
    transition-duration: 0.05s;
}
a:hover {
    text-decoration: none;
}

h4 {
    color: var(--spectralon);
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 5px;
}

body {
    margin: 0;
}

body>nav span>a>img {
    height: 70px;
    width: auto;
}

body>nav span>a {
    display: flex;
    align-items: center;
    color: var(--spectralon);
    text-decoration: none!important;
}

body>nav span>a>span {
    font-family: Righteous;
    font-size: 40px;
}

body>nav details {
    width: 99%;
}

body>nav details summary>span>span>img:nth-child(2) {
    display: none;
}
body>nav details summary>span>span>img:nth-child(1) {
    display:block;
}

body>nav details[open] summary>span>span>img:nth-child(2) {
    display: block;
}

body>nav details[open] summary>span>span>img:nth-child(1) {
    display: none;
}

body>nav details summary>span>span>img:hover {
    transition-duration: .1s;
}
body>nav details summary>span>span>img:hover {
    filter: brightness(50%) sepia(100) saturate(100) hue-rotate(-20deg);    
    transition-duration: .1s;
}
body>nav summary>span {
    display: grid;
    grid-template-columns: 2fr 5fr;
}
body>nav summary>span>a {
    display:flex;
    flex-direction: row;
    margin-left: 5%;
}
body>nav summary>span>span>img {
    width:60px;
    align-self: center;
}
body>nav details>div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
}

body>nav details>div>a {
    display: flex;
    direction: row;
    justify-content: center;
}
body>nav details>div>a>button:hover {
    text-decoration: none!important;
}

button {
    background-color: var(--spectralon);
    color: var(--vantablack);
    height: 50px;
    width: 150px;
    border-radius: 25px;
    font-size: 24px;
    font-family: Righteous;
    border: 0;
    transition-duration: 0.2s;
    cursor: pointer;
}

button:hover {
    transition-duration: 0.2s;
    color: var(--spectralon);
    background-color: var(--scarlet);
    transform: scale(1.1);
}

body>nav:nth-child(3) {
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(180deg, var(--cerulean), var(--lavender));
    margin: 0;
    padding: 15px;
    box-shadow: var(--shadow) 0 20px 30px;
    position: sticky;
    top: 0;
}

body>nav:nth-child(4) {
    display: none;
}

body>nav summary {
    list-style: none;
    display:grid;
    column-rule-width: 1fr 6fr;
}
body>nav summary::-webkit-details-marker {
    display: none; 
}



body > aside > nav {
    z-index: 100;
    position: fixed;
    bottom: 2.55%;
    right: 1%;
    box-shadow: 0px 0px 10px var(--shadow);
    border-radius: 12px;
}

body > aside > nav > a > button {
    font-size: 15px;
    height: 38px;
    border-radius: 12px;
}

body > aside > nav > a > button > img {
    height: 15px;
}

body > div {
    visibility: hidden;
}

/**-------------------------------------*/
/* FIN DU NAV  !!!!!!!! OK !!!!!!!!!!!! */
/**-------------------------------------*/

section {
    padding: 2em;
    border: 3px solid var(--sapphire);
    background: linear-gradient(180deg, var(--cerulean), var(--royalBlue));
    color: var(--spectralon);
    margin: 50px 15px;
}

.sectionRight {
    border-radius: var(--sectionBordRad) 0 0 var(--sectionBordRad);
    position: relative;
    border-right: none;
    margin-left: 120px;
    margin-right: 0px;
}

.sectionLeft {
    border-radius: 0 var(--sectionBordRad) var(--sectionBordRad) 0;
    position: relative;
    border-left: none;
    margin-right: 120px;
    margin-left: 0px;
}

.sectionMiddle {
    border-radius: var(--sectionBordRad) var(--sectionBordRad)
        var(--sectionBordRad) var(--sectionBordRad);
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}


#toggle-rows-button {
    height: 50px;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    margin-bottom: -15px;
    transition-duration: .1s;
}
#toggle-rows-button:hover  {
    filter: brightness(50%) sepia(100) saturate(100) hue-rotate(-20deg);    
}

h1 {
    font-size: 3.5em;
    margin-top: -0.2748em;
    margin-bottom: 0px;
    font-family: Righteous;
    font-weight: lighter;
}
h2 {
    font-size: 2.22em;
    margin-top: -0.5em;
    margin-bottom: 10px;
    font-family: Righteous;
    font-weight: lighter;
}
p {
    margin: 0px;
}

footer {
    background-color: var(--vantablack);
    transform:translateZ(1px);
}
footer > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer > nav > div:nth-child(5) {
    margin-right: 7%;
}
footer > nav > figure {
    margin-left: 6%;
}
footer > nav > figure > img {
    height: 150px;
}
footer > nav > div > a {
    text-align: center;
    line-height: 25px;
}


footer > nav > div > div > span > a > img {
    height: 50px;
}

footer > nav > div > div:nth-child(3){
    transform: translateX(25px);
}

.bigp {
    font-size: 23px;
}
.fltr {
    float:right;
}

.rdFullWhite {
    border-radius: 50%;
    background-color: var(--spectralon);
}

table {
    margin-left: 5%;
}

table[class="fltr"] {
    margin-right: 5%;
}

@keyframes medalAni {
    0%, 200% {
        background-position: 0 0;
    }
    99.9999999999999999999999999999999% {
        background-position: -130% 0;
    }
}

.gold {
    background-image: linear-gradient(to right, #ffd666, #ffe282, #ffc341);
}
.silv {
    background-image: linear-gradient(to right, #e9eff0, #dbdddd, #b4c5c4);
}
.brnz {
    background-image: linear-gradient(to right, #b67615, #ac7141, #e79344);
}
.frth {
    background-image: linear-gradient(to right, #5fc06f, #72c08a, #69d47b);
}
.mdal {
    animation: medalAni 5s linear infinite;
    background-size: 410% 100%;
    color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: none!important;
    font-weight: 900;
}

table, th, td {
    font-size: 16px;
    border: 1px solid var(--spectralon);
    border-collapse: collapse;
}
th,td {
    padding-left:8px;
    padding-right:8px;
}
th[colspan="3"], th[colspan="2"] {
    font-size:27px;
}

main>section>div>table {
    width: 93%;
}

.flex {
    display: flex;
}
.col {
    flex-direction: column;
}
.actr {
    align-items: center;
}

.grid48 {
    display: grid;
    grid-template-columns: 48% 48%;
  }

div table th:nth-child(3), div table td:nth-child(3) {
    border-right: var(--spectralon) solid 3px;
}

body>img {
    position:fixed;
    top: 0px;
    z-index: 0;
    height: 100vh;
    width: 100vw;
}



.rt180 {
    transform: rotate(180deg);
}

body>main>section>article>nav>a>button>span {
    font-size: 18px;
    font-weight: 600;
    font-family: Righteous;
    
}
body>main>section>article>nav>a>button {
    height: 38px;
}
footer>aside {
    display: none;
}
footer>article {
    color: var(--spectralon);
    margin-bottom: 20px;
}
footer>article>p{
    text-align: center;
}
footer>article>p:nth-child(3) {
    padding-bottom: 15px;
    margin-bottom: -20px;
}



/* partie des trucs n'attaquant que la partie danouk fin jespere */
body>main>section>table {
    width: 90%;
}
body>main>section>table>thead>tr>th>span>img {
    height: 20px;
    margin-left: 1%;
    margin-right: 4px;
}
body>main>section>table>thead>tr>th>span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align:center;
}
body>main>section>table>thead {
    background-color: #999;
    color:var(--vantablack);
}
body>main>section>table>tbody {
    color: var(--vantablack);
    background-color: var(--spectralon);
}

body>main>section>table>thead>tr>th {
    width: 25%
}
body>main>section>table>tbody>tr>td {
    text-align: center;
}

body>main>section>table, body>main>section>table th, body>main>section>table td {
    border: 1px solid var(--vantablack);
}




@media screen and (min-width:980px) and (max-width: 1030px)
{
    h4 {
        font-size: 21px;
        text-align: center;
    }
    
}

@media screen and (min-width: 769px) and (max-width: 979px)
{
    button {
        height: 40px;
        width: 100px;
        font-size: 17px;
    }
    aside>nav>a>button {
        width: 130px;
    }
    main>section>article>nav>a>button>span {
        font-size: 14px!important;
    }
    main>section>article>nav>a>button {
        width: 110px!important;
        height:30px!important;
    }
    h4 {
        font-size: 18px;
    }
    footer>nav>div:nth-child(1)
    {
        margin-left:17px;
    }
    footer>nav>div:nth-child(4) {
        display: none;
    }
    footer>nav>div>h4 {
        text-align: center;
    }
    footer>nav>div:nth-child(5) {
        margin-right:17px;
    }
    body>img {
        height: 100vw;
        width:100vw;
        position: fixed;
        right: 0px;
    }
}

@media screen and (max-width: 768px)
{
    body>img {
        height: 100vh;
        width: 100vw;
        position: fixed;
    }
    button {
        font-size: 16px;
        padding: 0;
        width: 86px;
        height: 42px;
    }
    #toggle-rows-button {
        height: 32px;
    }
    body>nav>span>a>span {
        font-size: 20px;
    }
    body>nav>span>a>img {
        height: 50px;
        width: auto;
    }    
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 28px;
        margin-right: 10px;
        margin-left: 10px;
    }
    main>section>article>h2 {
        text-align: center;
        font-size: 24px;
    }
    main>section>article[class="flex col actr"]>p {
        margin: 5px;
    }
    main>section>article[class="flex col actr"]>img {
        width:95%;
    }
    * {
        font-size: 13px;
    }
    .bigp {
        font-size: 16px;
    }
    em {
        font-size: 15px;
    }
    body>main>section>div {
        margin-left: -30px;
        margin-right: -10px;
    }
    td {
        font-size: 12px;
    }
    th {
        font-size: 12px;
    }
    header>section>p:nth-child(6) {
        margin-bottom:30px;
    }
    main>section>article>nav>a>button>span {
        font-size: 14px!important;
    }
    main>section>article>nav>a>button {
        width: 110px!important;
        height:30px!important;
    }
    iframe {
        width: 300px;
        height:200px;
    }
    footer>nav>figure{
        margin:0;
        display:none;
    }
    h4 {
        font-size: 18px;
    }
    footer>nav>div:nth-child(2)
    {
        margin-left:8%;
    }
    footer>nav>div:nth-child(3) {
        margin-right: 8%;
    }
    footer>nav>div:nth-child(4) {
        display: none;
    }
    footer>nav>div>h4 {
        text-align: center;
    }
    footer>nav>div:nth-child(5) {
        display: none;
    }

    footer>nav { 
        background: center / contain no-repeat url(i/footerlogo.webp) var(--vantablack);
    }
    footer>aside>span>a>img {
        height: 70px;
    }
    footer>aside>span {
        margin:2%;
    }
    footer>aside {
        margin-top: 15px;
        text-align:center;
        display: block;
    }


    body>nav:nth-child(4) {
        z-index: 1000;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background: linear-gradient(180deg, var(--cerulean), var(--lavender));
        margin: 0;
        padding: 15px;
        box-shadow: var(--shadow) 0 20px 30px;
        position: sticky;
        top: 0;
    }
    body>nav:nth-child(3) {
        display: none!important;
    }
    .sectionMiddle {
        margin-left: 10px;
        margin-right: 10px;
    }
    .sectionLeft {
        margin-right: 40px;
    }
    .sectionRight {
        margin-left: 40px;
    }

    main>section:nth-child(7)>article,
    main>section:nth-child(9)>div,
    main>section:nth-child(10)>div,
    main>section:nth-child(11)>div {
        display : flex!important;
        flex-wrap: wrap;
    }

    main>section:nth-child(3)>.grid238 {
        grid-template-columns: 50%!important;
    }


    /* partie Athlete */
    section {
        margin: 2em;
    }
    
    h1 {
        font-size: 3.5em;
    }
    
        header>section>div {
            flex-direction: column;
        }
    
        li {
            font-size: 1.3em;
            margin: 3px!important;
        }
    
        details {
            &>h2 {
                font-size: 3em!important;
            }
    
            &>div {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
        
                &>a> img {
                    width: 100px;
                    height: auto;
                    margin: 10px;
                }
        
                &>img {
                    height: auto!important;
                }
            }
        }

        div>div {
            flex-direction: column;
            margin: 0!important;
    
            &>section {
                margin: 20px!important;
        
                &>li {
                    font-size: 1.8em;
    
                    &>span {
                        font-size: 1em!important;
                    }
                }
            }
        }
    
        div>div>section>ul>li>span {
            font-size: 1em!important;
        }
    
        table * {
            font-size: 13px!important;
        }
    
        .grid45 {
            display: grid;
            grid-template-columns: 90%!important;
    
            &>article {
                margin-bottom: 10px;
            }
        }
    
        main>section>div>div>iframe {
            margin-bottom: 10px;
        }
    
        body>main>.sectionMiddle>div {
            margin-left: 0;
        }
}



/* partie athlete */
header>section>div,
main>section>div>div,
main>section>div {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0 0 0;
}

main>div>div {
    align-items: start;
    justify-content: space-around;
}

footer>div>div {
    align-items: none;
    justify-content: none;
}


main>section {
    justify-content: space-around;
}

main>section>table {
    margin: 30px auto 10px auto;
}

section section {
    padding: 2em;
    padding-left: 3em;
    border: 3px solid var(--sapphire);
    background: linear-gradient(180deg, var(--cerulean), var(--royalBlue));
    color: var(--spectralon);
    margin: 30px;
}

table * {
    font-size: 20px;
}

ul {
    list-style-type: none;
}

section>li {
    font-size: 1.30em;
    font-family: Righteous;
    font-weight: lighter;
    font-style: italic;
}

div>div>section>li {
    list-style-type: none;
}

.drapeau>img {
    width: 6em;
    height: auto;
    border-radius: 10px;
}

main>section div>div>section>ul>li>img {
    width: 17px;
    height: 17px;
    margin-top: 5px;
}

li {
    margin: 20px 0 20px 0;
}

a:hover {
    text-decoration: underline;
}

header div>img,
main div>img {
    border-radius: 40px;
    height: 19em;
}

header>section>div>div>ul>li {
    font-size: 1.30em;
}

header a>img {
    height: 5em;
    margin: 0 20px 0 20px;
}

div>section>h2,
details>summary {
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}

details>h2 {
    text-align: center;
}

summary>img {
    height: 50px;
    margin-bottom: 10px;
}

.actu>article {
    width: 45%;
    margin: 10px;
    font-size: 17px;
}

.grid45 {
    display: grid;
    grid-template-columns: 45% 45%;
}

.grid45 img {
    width: 85%;
    height: auto;
    margin: 20px 10px 10px 20px;
    position: relative;
    justify-content: center;
}

hr {
    color: white;
}

div>div>.sectionMiddle {
    margin: 0 20px;
    padding: 20px 30px;
}

div>div>.sectionMiddle ul {
    padding-left: 30px;
}

section section {
    box-shadow: 10px 5px 20px rgb(1, 1, 87);
}

details[open]>summary>img {
    rotate: 180deg;
}

div>details[open]>summary>img:hover {
    filter: brightness(50%) sepia(100) saturate(100) hue-rotate(-20deg);    
    transition-duration: .1s;
}

